<!-- templates/index.html  -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask dynamic WTF forms</title>
</head>
<body>
    <h1 style="text-align: center;">My Favourite movies</h1>
    <h3>Usernam: {{username}}</h3>
    <h4>Favourite movies</h4>
    <ul>
        {% for movie in movies %}
        <li>{{movie.data}}</li>
        {% endfor %}
    </ul>
    <br>
    <a href="{{url_for('.index')}}">Go back</a>
</body>
</html>